<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bear.reseeding.dao.TUserDao">

    <resultMap type="com.bear.reseeding.entity.TUser" id="TUserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userLoginId" column="user_login_id" jdbcType="VARCHAR"/>
        <result property="userLoginPwd" column="user_login_pwd" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="userPhone" column="user_phone" jdbcType="VARCHAR"/>
        <result property="userRoleId" column="user_role_id" jdbcType="INTEGER"/>
        <result property="userSystemId" column="user_system_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--登录-->
    <select id="login" resultMap="TUserMap">
        select
          id, user_login_id, user_login_pwd, user_name, user_phone, user_role_id, user_system_id
        from water_monitor.t_user
        where user_login_id = #{userId} and user_login_pwd = #{userPwd}
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="TUserMap">
        select
          id, user_login_id, user_login_pwd, user_name, user_phone, user_role_id, user_system_id
        from water_monitor.t_user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TUserMap">
        select
          id, user_login_id, user_login_pwd, user_name, user_phone, user_role_id, user_system_id
        from water_monitor.t_user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TUserMap">
        select
        id, user_login_id, user_login_pwd, user_name, user_phone, user_role_id, user_system_id
        from water_monitor.t_user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userLoginId != null and userLoginId != ''">
                and user_login_id = #{userLoginId}
            </if>
            <if test="userLoginPwd != null and userLoginPwd != ''">
                and user_login_pwd = #{userLoginPwd}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="userPhone != null and userPhone != ''">
                and user_phone = #{userPhone}
            </if>
            <if test="userRoleId != null">
                and user_role_id = #{userRoleId}
            </if>
            <if test="userSystemId != null">
                and user_system_id = #{userSystemId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into water_monitor.t_user(user_login_id, user_login_pwd, user_name, user_phone, user_role_id, user_system_id)
        values (#{userLoginId}, #{userLoginPwd}, #{userName}, #{userPhone}, #{userRoleId}, #{userSystemId})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into water_monitor.t_user(user_login_id, user_login_pwd, user_name, user_phone, user_role_id,
        user_system_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userLoginId}, #{entity.userLoginPwd}, #{entity.userName}, #{entity.userPhone},
            #{entity.userRoleId}, #{entity.userSystemId})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into water_monitor.t_user(user_login_id, user_login_pwd, user_name, user_phone, user_role_id,
        user_system_id)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.userLoginId}, #{entity.userLoginPwd}, #{entity.userName}, #{entity.userPhone},
            #{entity.userRoleId}, #{entity.userSystemId})
        </foreach>
        on duplicate key update
        user_login_id = values(user_login_id) , user_login_pwd = values(user_login_pwd) , user_name = values(user_name)
        , user_phone = values(user_phone) , user_role_id = values(user_role_id) , user_system_id =
        values(user_system_id)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update water_monitor.t_user
        <set>
            <if test="userLoginId != null and userLoginId != ''">
                user_login_id = #{userLoginId},
            </if>
            <if test="userLoginPwd != null and userLoginPwd != ''">
                user_login_pwd = #{userLoginPwd},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="userPhone != null and userPhone != ''">
                user_phone = #{userPhone},
            </if>
            <if test="userRoleId != null">
                user_role_id = #{userRoleId},
            </if>
            <if test="userSystemId != null">
                user_system_id = #{userSystemId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from water_monitor.t_user where id = #{id}
    </delete>

</mapper>

